<!DOCTYPE html>
 <head>
  <meta charset="UTF-8">
  <title>Calculadora</title>

 </head>
 <body>
  <h1>Digite dois números:</h1>
  <form action="/soma" method="get" id="form1">
   <label> Número 1: </label>
   <input id= "n1" name="n1"/>
   <label> Número 2: </label>
   <input id= "n2" name="n2"/>
   <button type="submit">Somar</button>
  </form>

  <form action="/sub" method="get" id="form2">
    <label> Número 1: </label>
    <input id= "n1" name="n1"/>
    <label> Número 2: </label>
    <input id= "n2" name="n2"/>
    <button type="submit">Subtrair</button>
   </form>

   <form action="/mult" method="get" id="form3">
    <label> Número 1: </label>
    <input id= "n1" name="n1"/>
    <label> Número 2: </label>
    <input id= "n2" name="n2"/>
    <button type="submit">Multiplicar</button>
   </form>

   <form action="/div" method="get" id="form4">
    <label> Número 1: </label>
    <input id= "n1" name="n1"/>
    <label> Número 2: </label>
    <input id= "n2" name="n2"/>
    <button type="submit">Dividir</button>
   </form>

  <h1>Resultado:</h1>
  <h1 id="resultado"><%=resultado%></h1>
 </body>
</html>