<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quimica</title>
</head>

<body>
  <h1>Número de mol</h1>
  <form action="/salvar" method="post">
    Fórmula para achar número de mols
    <br>
    N = m / M
    <br>
    DIGITE O NÚMERO 1:
    <input type="number" name="massa" id="massa">
    DIGITE O NÚMERO 2:
    <input type="number2" name="MassaMolecular" id="MassaMolecular">
    <input type="submit" value="Divida um pelo outro">
    <br>
    <br>
    
  </form>
  <p id= "resultado"><%=resultado%></p> 
</body>

</html>